body {
  align-items: center;
  background: #000;
  display: flex;
  justify-content: center;
}

loader {
  color: #fff;
  font-family: monospace;
  font-size: 54px;
}

logo {
  color: #fff;
  font-family: sans-serif;
  font-size: 270px;
  text-align: center;
}

.hidden {
  display: none;
}

.main-title {
  color: #fff;
  font-family: sans-serif;
  font-size: 340px;
  text-align: center;
  margin-top: -140px;
}

.subtitle {
  color: #fff;
  font-family: sans-serif;
  font-size: 90px;
  letter-spacing: 1px;
  margin-top: -160px;
  text-align: center;
  transition: letter-spacing 3s;
}

.expanded {
  letter-spacing: 42px;
  transition: letter-spacing 3s;
}

.rectangle {
  align-items: center;
  background: #fff;
  border-radius: 100%;
  display: flex;
  color: #000;
  font-family: monospace;
  font-size: 100px;
  height: 0px;
  justify-content: center;
  width: 0px;
  transition: height 1s, width 1s;
}

.white {
  height: 450px;
  width: 450;
}

.black {
  height: 64px;
  width: 64px;
}
